/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.filter-field {
  width: 100%;
  margin-bottom: 10px;
}

.fab-container button {
  width: 56px;
  height: 56px;
}

.fab-container {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fab-options {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.fab-options button {
  margin-top: 10px;
}
