<div class="fab-container">
  <button mat-fab color="primary" (click)="toggleOptions()">
    <mat-icon>home</mat-icon>
  </button>
  <div class="fab-options" *ngIf="showOptions">
    <button mat-mini-fab color="accent" (click)="option1Action()">
      <mat-icon>editar</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="Logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
<div class="container">
  <mat-form-field>
    <mat-label>Buscador</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Turno Reservado"
      #input
    />
  </mat-form-field>
  <mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile [colspan]="1">
      <mat-form-field class="example-full-width">
        <mat-label>Seleccione una Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate"
          (ngModelChange)="onDateChange($event)"
        />
        <mat-hint>MM/DD/AAAA</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- IdTurno Column -->
        <ng-container matColumnDef="idTurno">
          <th mat-header-cell *matHeaderCellDef>ID Turno</th>
          <td mat-cell *matCellDef="let element">{{ element.idTurno }}</td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.Fecha }}</td>
        </ng-container>

        <!-- Hora Column -->
        <ng-container matColumnDef="Hora">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let element">{{ element.Hora }}</td>
        </ng-container>

        <!-- IdUsuario Column -->
        <ng-container matColumnDef="IdUsuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.IdUsuario }}</td>
        </ng-container>

        <!-- IdMedico Column -->
        <ng-container matColumnDef="idMedico">
          <th mat-header-cell *matHeaderCellDef>ID Médico</th>
          <td mat-cell *matCellDef="let element">{{ element.idMedico }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.Estado }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-mini-fab
              color="primary"
              (click)="updateEstado(element, 'Atendiendo')"
              matTooltip="Marcar como Atendiendo. Cambia el estado a 'Atendiendo'"
            >
              <mat-icon>check</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="warn"
              (click)="updateEstado(element, 'Cerrado')"
              matTooltip="Marcar como Cerrado. Cambia el estado a 'Cerrado'"
              class="cancel"
            >
              <mat-icon>cerrado</mat-icon>
              X
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            No hay datos que coincidan con el filtro "{{ input.value }}"
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</div>
