<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Medical Assistance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Central de Turnos</p>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Mail</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            placeholder="usuario@mail.com"
          />
          @if (emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')) {
          <mat-error>Porfavor ingrese un mail valido</mat-error>
          } @if (emailFormControl.hasError('required')) {
          <mat-error>El mail es <strong>requerido</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Ingrese la Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="passwordFormControl"
          />
          @if (passwordFormControl.hasError('minlength') &&
          !passwordFormControl.hasError('required')) {
          <mat-error>Porfavor ingrese la Contraseña</mat-error>
          } @if (passwordFormControl.hasError('required')) {
          <mat-error>La contraseña es <strong>requerida</strong></mat-error>
          }
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button class="btnlogin" mat-flat-button color="accent" (click)="login()">
        Iniciar Sesión
      </button>
      <mat-divider></mat-divider>
    </mat-card-actions>
    <a mat-button (click)="registro()">Quiero Afiliarme</a>
    <a mat-button (click)="olvidaste()">Olvidaste la Contraseña?</a>
  </mat-card>
</div>
