<div class="fab-container">
  <button mat-fab color="primary" (click)="toggleOptions()">
    <mat-icon>home</mat-icon>
  </button>

  <div class="fab-options" *ngIf="showOptions">
    <button mat-mini-fab color="accent" (click)="option1Action()">
      <mat-icon>view_timeline</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="Logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>

<div class="container">
  <p class="msj">Historial de Turnos</p>
  <div *ngIf="dataTurno" class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Nombre Paciente</th>
          <th>Nombre Médico</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataTurno">
          <td>{{ data.Fecha }}</td>
          <td>{{ data.Hora }}</td>
          <td>{{ data.nombreUsuario }}</td>
          <td>{{ data.nombreMedico }}</td>
          <td>{{ data.Estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
