<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Central de Turnos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Registrate</p>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="botones">

      <button class="btnlogin" mat-flat-button color="accent" (click)="registro()">Login</button>

      <button class="btnlogin" mat-flat-button color="primary" routerLink="/login">Volver al inicio de sesión</button>

    </mat-card-actions>
  </mat-card>
</div>

